body{
    overflow-x: hidden;
    font-family: 'Roboto';
    color: #324950;
    padding:0;
    margin: 0;
}

.TopLogo{  
    position: absolute;
    width: 226px;
    height: 113px;
    left: 388px;
    top: 20px;
    mix-blend-mode: darken;
}

.SearchInput{
    position: absolute;
width: 52px;
height: 21px;
left: 1165px;
top: 20px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
background: transparent;
border: 0;
font-weight:500;
color: #324950;
}

.SearchLine{
    position: absolute;
    width: 350px;
    height: 0px;
    left: 1165px;
    top: 49px;

    

    border: 1px solid #324950;
}

.SearchVector{
    position: absolute;
    top: 21px;
    left: 1497px; 

}
.nav{
   position: absolute;
   width: 600px;
   height: 26px;
   margin-left: 465px; 
   margin-top:42px;
   }

.nav-link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    margin-left:0px;
    color: #324950;
}

.BannerBg{
    width: 1920px;
    height: 850px;
    left: 0px;
    top: 0px;

}

.BannerText{
    position: absolute;
width: 804px;
height: 68px;
left: 558px;
top: 362px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 142.7%;
/* or 68px */

text-align: center;

color: #735440;
}
.banner_btn_font{


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 142.7%;
/* identical to box height, or 23px */

text-align: center;
letter-spacing: 0.07em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.banner_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 31px;
    gap: 10px;
    
    position: absolute;
    width: 168px;
    height: 55px;
    left: 880px;
    top: 490px;
    
    letter-spacing: 0.07em;
    text-transform: uppercase;
    
    background: #57984C;
    
}



